---
interface Props {
    imageSrc: string;
    imageAlt: string;
    projectName: string;
    description: string;
    imageClasses?: string;
}

const { imageSrc, imageAlt, projectName, description, imageClasses = "" } = Astro.props;
---

<article class="flex flex-col text-start text-zinc-600 transition-all duration-300 ease-in-out hover:scale-[101%] hover:translate-y-[-.5rem]">
    <div
        class="max-h-10/12 bg-emerald-50/70 rounded-2xl flex items-center p-6 md:p-8 lg:py-12 overflow-hidden h-full"
    >
        <img
            class={`w-full max-w-[180px] md:max-w-[280px] mx-auto ${imageClasses}`}
            loading="lazy"
            src={imageSrc}
            alt={imageAlt}
        />
    </div>

    <p class="text-zinc-500 mt-4">{projectName}</p>
    <h3 class="font-semibold">{description}</h3>
</article>
